USE [master]
GO
/****** Object:  Database [BookStores]    Script Date: 14/11/2023 12:33:09 ******/
CREATE DATABASE [BookStores]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStores', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BookStores.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStores_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BookStores_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStores].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStores]
GO
/****** Object:  Table [dbo].[Ca]    Script Date: 14/11/2023 12:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ca](
	[maCa] [nvarchar](3) NOT NULL,
	[tenCa] [nvarchar](2) NOT NULL,
	[thoiGian] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Ca] PRIMARY KEY CLUSTERED 
(
	[maCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 14/11/2023 12:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHoaDon] [nvarchar](7) NOT NULL,
	[maSanPham] [nvarchar](9) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon_1] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuDatHang]    Script Date: 14/11/2023 12:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuDatHang](
	[maPhieuDatHang] [nvarchar](7) NOT NULL,
	[maSanPham] [nvarchar](9) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuDat] PRIMARY KEY CLUSTERED 
(
	[maPhieuDatHang] ASC,
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 14/11/2023 12:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nvarchar](7) NOT NULL,
	[maNhanVien] [nvarchar](6) NOT NULL,
	[maKhachHang] [nvarchar](7) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[thanhTien] [float] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 14/11/2023 12:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [nvarchar](7) NOT NULL,
	[tenKhachHang] [nvarchar](50) NOT NULL,
	[gioiTinh] [nvarchar](5) NULL,
	[soDienThoai] [nvarchar](10) NOT NULL,
	[diaChi] [nvarchar](110) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 14/11/2023 12:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNhaCungCap] [nvarchar](7) NOT NULL,
	[tenNhaCungCap] [nvarchar](50) NOT NULL,
	[diaChi] [nvarchar](120) NOT NULL,
	[soDienThoai] [nvarchar](10) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[maNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 14/11/2023 12:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nvarchar](6) NOT NULL,
	[tenNhanVien] [nvarchar](50) NOT NULL,
	[diaChi] [nvarchar](120) NOT NULL,
	[gioiTinh] [nvarchar](5) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[ngayVaoLam] [date] NOT NULL,
	[cCCD] [nvarchar](12) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[soDienThoai] [nvarchar](10) NOT NULL,
	[chucVu] [nvarchar](10) NOT NULL,
	[taiKhoan] [nvarchar](6) NOT NULL,
	[maCa] [nvarchar](3) NOT NULL,
	[hinhAnh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 14/11/2023 12:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[maNhaXuatBan] [nvarchar](7) NOT NULL,
	[tenNhaXuatBan] [nvarchar](50) NOT NULL,
	[diaChi] [nvarchar](120) NULL,
	[soDienThoai] [nvarchar](10) NOT NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_NXB] PRIMARY KEY CLUSTERED 
(
	[maNhaXuatBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatHang]    Script Date: 14/11/2023 12:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatHang](
	[maPhieuDatHang] [nvarchar](7) NOT NULL,
	[maNhanVien] [nvarchar](6) NOT NULL,
	[maKhachHang] [nvarchar](7) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[thanhTien] [float] NOT NULL,
 CONSTRAINT [PK_PhieuDat] PRIMARY KEY CLUSTERED 
(
	[maPhieuDatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 14/11/2023 12:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSanPham] [nvarchar](9) NOT NULL,
	[tenSanPham] [nvarchar](50) NOT NULL,
	[xuatXu] [nvarchar](20) NOT NULL,
	[giaNhap] [float] NOT NULL,
	[giaBan] [float] NOT NULL,
	[soLuongTon] [int] NOT NULL,
	[hinhAnh] [nvarchar](50) NOT NULL,
	[maNXB] [nvarchar](7) NULL,
	[maTheLoaiSach] [nvarchar](7) NULL,
	[tacGia] [nvarchar](50) NULL,
	[soTrang] [int] NULL,
	[namXuatBan] [int] NULL,
	[maNhaCungCap] [nvarchar](7) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 14/11/2023 12:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[taiKhoan] [nvarchar](6) NOT NULL,
	[matKhau] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[taiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoaiSach]    Script Date: 14/11/2023 12:33:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoaiSach](
	[maTheLoaiSach] [nvarchar](7) NOT NULL,
	[tenTheLoaiSach] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiSach] PRIMARY KEY CLUSTERED 
(
	[maTheLoaiSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ca] ([maCa], [tenCa], [thoiGian]) VALUES (N'C01', N'01', N'09h - 16h')
INSERT [dbo].[Ca] ([maCa], [tenCa], [thoiGian]) VALUES (N'C02', N'02', N'16h - 22h')
GO
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maSanPham], [soLuong], [donGia]) VALUES (N'HD00001', N'S00001', 1, 70000)
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maSanPham], [soLuong], [donGia]) VALUES (N'HD00002', N'DCHT00001', 1, 7000)
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maSanPham], [soLuong], [donGia]) VALUES (N'HD00003', N'DCHT00001', 1, 7000)
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [maNhanVien], [maKhachHang], [ngayLap], [thanhTien]) VALUES (N'HD00001', N'NV0001', N'KH00001', CAST(N'2023-10-31' AS Date), 70000)
INSERT [dbo].[HoaDon] ([maHoaDon], [maNhanVien], [maKhachHang], [ngayLap], [thanhTien]) VALUES (N'HD00002', N'NV0001', N'KH00001', CAST(N'2023-10-31' AS Date), 7000)
INSERT [dbo].[HoaDon] ([maHoaDon], [maNhanVien], [maKhachHang], [ngayLap], [thanhTien]) VALUES (N'HD00003', N'NV0001', N'KH00001', CAST(N'2023-10-31' AS Date), 7000)
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [gioiTinh], [soDienThoai], [diaChi]) VALUES (N'KH00001', N'Trịnh Minh Kha', N'Nam', N'0123456789', N'Thành phố Vĩnh Long, Tỉnh Vĩnh Long.')
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [gioiTinh], [soDienThoai], [diaChi]) VALUES (N'KH00002', N'Võ Văn Bạch', N'Nam', N'0355208069', N'Huyện Giồng Trôm, Tỉnh Bến Tre.')
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [gioiTinh], [soDienThoai], [diaChi]) VALUES (N'KH00003', N'Lê Hoàng Bảo', N'Nam', N'0373498729', N'Thị xã La Gi, Tỉnh Bình Thuận.')
GO
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [tenNhaCungCap], [diaChi], [soDienThoai], [email]) VALUES (N'NCC0001', N'Thiên Long', N'Tầng 10, Sofic Tower, Số 10 Đường Mai Chí Thọ, Phường Thủ Thiêm, Thành Phố Thủ Đức, Thành Phố Hồ Chí Minh, Việt Nam', N'1900866819', N'salesonline@thienlongvn.com

')
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [tenNhaCungCap], [diaChi], [soDienThoai], [email]) VALUES (N'NCC0002', N'Thiên Lôi', N'Tầng 10, Sofic Tower, Số 10 Đường Mai Chí Thọ, Phường Thủ Thiêm, Thành Phố Thủ Đức, Thành Phố Hồ Chí Minh, Việt Nam', N'1900866819', N'salesonline@thienlongvn.com
 
 ')
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [diaChi], [gioiTinh], [ngaySinh], [ngayVaoLam], [cCCD], [email], [soDienThoai], [chucVu], [taiKhoan], [maCa], [hinhAnh]) VALUES (N'NV0001', N'Phạm Văn Thành', N'Gò Xoài', N'Nam', CAST(N'2003-01-01' AS Date), CAST(N'2023-01-01' AS Date), N'206381313', N'phamtrung21112003@gmail.com', N'0934004524', N'Quản lý', N'NV0001', N'C01', N'/image/NhanVien/PhamVanThanh.png')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [diaChi], [gioiTinh], [ngaySinh], [ngayVaoLam], [cCCD], [email], [soDienThoai], [chucVu], [taiKhoan], [maCa], [hinhAnh]) VALUES (N'NV0002', N'Trần Thanh Tâm', N'Gò Xoài', N'Nam', CAST(N'2003-01-01' AS Date), CAST(N'2023-10-29' AS Date), N'206381313', N'phamtrung21112003@gmail.com', N'0934004524', N'Bán hàng', N'NV0002', N'C01', N'/image/NhanVien/TranThanhTam.png')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [diaChi], [gioiTinh], [ngaySinh], [ngayVaoLam], [cCCD], [email], [soDienThoai], [chucVu], [taiKhoan], [maCa], [hinhAnh]) VALUES (N'NV0003', N'Mai Lưu Hữu Vinh', N'Gò Xoài', N'Nam', CAST(N'2003-01-01' AS Date), CAST(N'2023-10-29' AS Date), N'206381313', N'phamtrung21112003@gmail.com', N'0934004524', N'Bán hàng', N'NV0003', N'C01', N'/image/NhanVien/MaiLuuHuuVinh.png')
GO
INSERT [dbo].[NhaXuatBan] ([maNhaXuatBan], [tenNhaXuatBan], [diaChi], [soDienThoai], [email]) VALUES (N'NXB0001', N'Trẻ', N'161B Lý Chính Thắng, Võ Thị Sáu, Quận 3, Thành phố Hồ Chí Minh', N'0273924198', N'chinhanhdongnambo@nxbtre.com.vn')
INSERT [dbo].[NhaXuatBan] ([maNhaXuatBan], [tenNhaXuatBan], [diaChi], [soDienThoai], [email]) VALUES (N'NXB0002', N'Kim Đồng', N'Số 55 Quang Trung, Nguyễn Du, Hai Bà Trưng, Hà Nội', N'0283931628', N'cskh_online@nxbkimdong.com.vn')
INSERT [dbo].[NhaXuatBan] ([maNhaXuatBan], [tenNhaXuatBan], [diaChi], [soDienThoai], [email]) VALUES (N'NXB0003', N'Hội Nhà Văn', N'SỐ 65 NGUYỄN DU, QUẬN HAI BÀ TRƯNG, HÀ NỘI', N'0438222135', N'nxbhoinhavan65@gmail.com')
GO
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [xuatXu], [giaNhap], [giaBan], [soLuongTon], [hinhAnh], [maNXB], [maTheLoaiSach], [tacGia], [soTrang], [namXuatBan], [maNhaCungCap]) VALUES (N'DCHT00001', N'Bút chì 2B', N'Việt Nam', 2000, 4000, 9, N'/image/DungCuHocTap/Bút mực 0.5 mm - Mực xanh.jpg', NULL, NULL, NULL, 0, 0, N'NCC0001')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [xuatXu], [giaNhap], [giaBan], [soLuongTon], [hinhAnh], [maNXB], [maTheLoaiSach], [tacGia], [soTrang], [namXuatBan], [maNhaCungCap]) VALUES (N'DCHT00002', N'Vở', N'Việt Nam', 5000, 7000, 50, N'/image/DungCuHocTap/sotay.jpg', NULL, NULL, NULL, 0, 0, N'NCC0001')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [xuatXu], [giaNhap], [giaBan], [soLuongTon], [hinhAnh], [maNXB], [maTheLoaiSach], [tacGia], [soTrang], [namXuatBan], [maNhaCungCap]) VALUES (N'DCHT00003', N'Thước kẻ', N'Việt Nam', 3000, 5000, 20, N'/image/DungCuHocTap/thuocdai.png', NULL, NULL, NULL, 0, 0, N'NCC0001')
GO
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau]) VALUES (N'NV0001', N'NV0001')
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau]) VALUES (N'NV0002', N'NV0002')
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau]) VALUES (N'NV0003', N'NV0003')
GO
INSERT [dbo].[TheLoaiSach] ([maTheLoaiSach], [tenTheLoaiSach]) VALUES (N'TL0001', N'Tâm lý')
INSERT [dbo].[TheLoaiSach] ([maTheLoaiSach], [tenTheLoaiSach]) VALUES (N'TL0002', N'Phát triển bản thân')
INSERT [dbo].[TheLoaiSach] ([maTheLoaiSach], [tenTheLoaiSach]) VALUES (N'TL0003', N'Phiêu lưu')
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuDat_PhieuDat] FOREIGN KEY([maPhieuDatHang])
REFERENCES [dbo].[PhieuDatHang] ([maPhieuDatHang])
GO
ALTER TABLE [dbo].[ChiTietPhieuDatHang] CHECK CONSTRAINT [FK_ChiTietPhieuDat_PhieuDat]
GO
ALTER TABLE [dbo].[ChiTietPhieuDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuDat_SanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[ChiTietPhieuDatHang] CHECK CONSTRAINT [FK_ChiTietPhieuDat_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_Ca] FOREIGN KEY([maCa])
REFERENCES [dbo].[Ca] ([maCa])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_Ca]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan1] FOREIGN KEY([taiKhoan])
REFERENCES [dbo].[TaiKhoan] ([taiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan1]
GO
ALTER TABLE [dbo].[PhieuDatHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[PhieuDatHang] CHECK CONSTRAINT [FK_PhieuDat_KhachHang]
GO
ALTER TABLE [dbo].[PhieuDatHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[PhieuDatHang] CHECK CONSTRAINT [FK_PhieuDat_NhanVien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maNhaCungCap])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NXB] FOREIGN KEY([maNXB])
REFERENCES [dbo].[NhaXuatBan] ([maNhaXuatBan])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NXB]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_TheLoaiSach] FOREIGN KEY([maTheLoaiSach])
REFERENCES [dbo].[TheLoaiSach] ([maTheLoaiSach])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_TheLoaiSach]
GO
USE [master]
GO
